@import url(https://fonts.googleapis.com/css?family=Eczar:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body {
  background-image: url("./assets/background-image.jfif");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header.main-heading {
  display: flex;
  margin: 20px;
  justify-content: center;
}
header.main-heading h1 {
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 4px #a09f9f;
  font-family: 'Eczar', serif;
  letter-spacing: 5px;

}
form.search-area {
  display: flex;                                         
  justify-content: center;
}
form.search-area input{
  background: transparent;
  padding: 5px;
  margin: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ffa600;
  outline: none;
}
form.search-area input[placeholder] {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
form.search-area button {
  margin-left: 20px;
  font-size: 18px;
  padding: 0 10px;
  background-color: #ffa600;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  border: none;
}
.error {
    background-color: #e72525;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    color: #fff;
}
main.weatherData {
    display: flex;
    flex-direction: column;
    align-items: center;margin: 50px auto;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
}
main.weatherData .date {
    margin-top: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}
main.weatherData .city-country {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
main.weatherData .temp {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 20px;
    /* text-shadow: 2px 2px 5px #000; */
    letter-spacing: 5px;
}
main.weatherData img.weatherIcon {
  width: 100px;
}
main.weatherData .description {
    font-weight: 800;
    letter-spacing: 1px;
}
